
@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap')





* {
  background-color: black;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
  font-family: "Teko", sans-serif;
 
}

body{
  padding: 0;
  margin: 0;
  font-family: "Teko", sans-serif;
  background-color: black;
}


html{
  font-size: 20px;
  @media screen and (max-width 600px){

  }
}

#logo{
  margin-left: 35px;
}

.after:after {
  content: " ";
  display: block;
  height: 9px;
  background: #b10303;
  width: 100%;
  left: 100%;
  top: calc(50% - 2px);
}



#MenuNavegacion{
display: flex;
justify-content:flex-end;
}

.navbar-dark{
  background: #231e1e;
}


.nav-link:hover{
  background: rgb(214, 0, 0); 
  box-shadow: 0 0 10px red, 0 0 40px red, 0 0 80px red;
}

img{
  margin-top: auto;
}

main {
  background-color: black;
}

.titulo{
  color: white;
  font-size: 3rem;
  font-family: "Teko", sans-serif;
}
  

  .container-tit{
    text-align: center;
    background-color: #9e0e01;
    width: 100%;
    padding: 10px;
    min-height: 45px;
    margin-top:auto;
  }


#redes {
  background-color: black;
}



    .btn:hover{
      background: red; 
      box-shadow: 0 0 10px red, 0 0 40px red, 0 0 80px red;
      font-size: 1rem;
      text-align: center;
    }
  


    .imagen1{
      background-image: url(./assets/imagen1.jpg);
      font-family: "Teko", sans-serif;
      background-repeat: no-repear;
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
      text-align: center;
      display: flex;
      flex-direction: column;
      min-height: 100vh;
    }


    .imagen2{
      background-image: url(./assets/imagen3.png);
      font-family: "Teko", sans-serif;
      background-repeat: no-repear;
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
      text-align: center;
      display: flex;
      flex-direction: column;
      min-height: 100vh;
    }


    #membresias {
      text-align: center;
      background-color: rgb(0, 0, 0);
      opacity: 0.75;
      height: 550px;
    
    }


 #h2{
    color: rgb(255, 255, 255);
    padding: 10px;
    font-size: 2.4rem;
    text-align: center;
 }




#classonline {
  margin-top: auto;
}

#classpresencial {
  margin-top: auto;
}


#boton:hover {
  color: rgb(255, 255, 255);
  padding: 5px;
  font-size: 1.1rem;
  text-align: center;
  background: rgb(0, 0, 0); 
  box-shadow: 0 0 10px red, 0 0 40px red, 0 0 80px red;
}

#texto2 {
  color: rgb(255, 255, 255);
  padding: 1px;
  font-size: 1.7rem;
  text-align: center;
}

#texto3 {
  color: rgb(255, 255, 255);
  padding: 2px;
  font-size: 1.1rem;
  text-align: center;
}

#texto4 {
  color: #d20707;
  padding: 2px;
  font-size: 6rem;
  text-align: center;
 

}