@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');



*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  padding: 0;
  margin: 0;
  font-family: "Teko", sans-serif;
  background-color: black;
}
html {
  font-size: 20px;
  @media screen and (max-width 900px) {
    font-size: 20px;

  }
}
#navbarNavDropdown {
  justify-content:flex-end;
  font-size: 1.5rem;
  font-family: 'Teko', sans-serif;
}

#menu{
  display: flex;
  justify-content:flex-end;
  font-size: 1.5rem;
  font-family: 'Teko', sans-serif;
  }




#navbar {
    display: flex;
    justify-content:flex-end;
  }
.nav-link:hover{
    background: red; 
    box-shadow: 0 0 10px red, 0 0 40px red, 0 0 80px red;
  }
.after:after {
    content: " ";
    display: block;
    height: 7px;
    background: #ff1313;
    width: 100%;
    left: 100%;
    top: calc(50% - 2px);
  }
  .img{
    object-fit: cover;
    max-inline-size: 100%;
    block-size: auto;
  }
  #sec1{
    
    width: 100%;
    max-width: auto;
    height: 100%;
  

  }

  .container-tit{
    text-align: center;
    background-color: #e42313;
    width: 100%;
    padding: 20px;
    min-height: 50px;
    margin-top:auto;
  }
  
  .titulo{
    color: white;
    font-size: 4rem;
    font-family: "Teko", sans-serif;
    min-width: 250;
    text-align: center;
    
  }

  .titulo1{
    color: white;
    font-size: 3rem;
    font-family: "Teko", sans-serif;
    min-width: 250;
    text-align: center;
    padding: 25px;
  }

  .titulo2{
    color: white;
    font-size: 1.5rem;
    font-family: "Teko", sans-serif;
   
    text-align: center;
   
  }



.cont2{
  width: 100%;
  height: 100%;
  background-color: black;
  position: relative;
  
}

.rectangulo{
  text-align: center;
  background-color: #e42313;
  width: 100%;
  min-height: 100%;
  
  
  top: 5%;
  
}







.cont-img{
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 50px;
}

.img-1{
  width: 600px;
}
 #recrojo{
  width: 100%;
 }

@media ( max-width: 500px ){



}

#couches{
  color: #e42313 ;
  font-size: 2.5rem;
  font-family: "Teko", sans-serif;

}

.redes{
  color: white;
}

#info{
  color: white
  ;
}

#boton:hover {
  color: rgb(255, 255, 255);
  padding: 5px;
  font-size: 1.1rem;
  text-align: center;
  background: rgb(0, 0, 0);
  box-shadow: 0 0 10px red, 0 0 40px red, 0 0 80px red;
  justify-content: center;
  align-items: center;
}

#redes {
  background-color: black;
}

.btn:hover{
  font-family: 'Teko', sans-serif;
  background: red; 
  box-shadow: 0 0 10px red, 0 0 40px red, 0 0 80px red;
}

  