<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Carrito de compras</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">  
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/bienvenido.css">
  <link rel="stylesheet" href="/global.css">
  </head>
  <body>
     <!--Header de la página-->
  <%- include('./partials/_header'); %>
  <!--Linea divisoría-->
  <div class="navbar-after">
    <a class="after"></aclass></a>
  </div>
  
   <!--Imagen de bienvenida-->
   <div id="container-foto">
    <img id="inicio" src="https://i.ibb.co/SmLswrk/welcome.jpg" alt="bb" width="100%" height="50%">
      </a>
   </div>
   <!--Titulo Quiénes somos-->
   <div class="container-tit">
    <marquee behavior="" direction="">
    <h1 class="titulo">BIENVENIDO A BIIT FITNESS STUDIO</h1>
    </marquee>
   </div>
   <!--Primer texto-->
   <div class="container-txt1">
    <p class="text1">Tu número de usuarío es el 10022
    .</p>
  </div>
  <!--Segundo texto con imagen (izq)-->
      <div id="col-img2">
        <div class="embed-responsive embed-responsive-16by9">
          <img src="https://i.ibb.co/C2dzhM7/welcom-vid.gif" alt="sin-critica" border="0" />
        </div>
      </div>
  
  
  <!--Tercer texto con imagen (izq)-->
  <div class="container text-center">
    <div class="row">
      <div class="col my5 mx-3" id="col-txt2">
        <h1>DISFRUTA TU ESTANCIA Y NAVEGA POR LA BIIT WEB</h1>
      </div>
    </div>
  </div>
  
   <!--Linea divisoría inferior-->
   <div class="navbar-after">
      <a class="after"></aclass></a>
    </div>
  
  
  <!--Footer-->
  <%- include('./partials/_footer'); %>
          <!-- Script Bootstrap -->
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
     integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
     crossorigin="anonymous"></script>  
  
      <script src="/conocenos.js"></script>
      <script src="/js/bootstrap.bundle.min.js"></script>
      
  </body>
  </html>