<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/global.css">
    <link rel="stylesheet" href="/biit.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <title>BIITFAM</title>
</head>
<body>
    <!--barra incial-->
    <%- include('./partials/_header'); %>
<!--redline-->
    <div class="navbar-after">
      <a class="after"></aclass></a>
    </div>
  <!--encabezado-->
 
    <section class="backComuny " id="titleOne">
  <div class="container-md " >
      <div class="col ">
    </div>
     </div>
    </section>
     <!--Segundo encabezado-->
     <section class="squareRed">
        <div class="container-tit">
          <marquee behavior="" direction=""> 
            <h2 class="titulo">NUESTRA COMUNIDAD BIIT FAMILY</h2>
          </marquee> 
           </div>
        </section>

        <!--contenido pagina-->
        <div class="container-sm text-center" id="contenido-1" >
          <div class="row">
           <div class="col ">
            <video src="../assets/bitcomunity.mp4" width="400" height="450" autoplay controls muted>

            </video>
             </div>
             <div class="col justify-content-center">
              <P class="pwhite">
                    En Biit Fitness Studio promovemos un entorno cordial y familiar para generar un ambiente favorable y de unidad entre nuestros miembros.
                </P>
             </div>
             <div class="col">
              <video src="../assets/entradabiit.mp4" width="400" height="450" autoplay controls muted>

              </video>
             </div>
          </div>
          <div class="row-cols-3">
            <a id="button" type="button" href="/contacto" class="btn btn-danger" id="btn1" >Únete</a>
          </div>
        </div>
        

         <!-- TERCER encabezado-->
     <section class="squareRed">
        <div class="container-tit"> 
          <marquee behavior="" direction=""> 
            <h3>SÉ PARTE DE NOSOTROS</h3>
          </marquee>
           </div>
        </section>

<!--CONTENIDO SEGUNDA SECCION-->
<div class="container" class="containerbajo">
    <div class="row">
        <div class="col my-5 text-center">
              <h4>ENORGULLÉCETE DE TUS RESULTADOS</h4>
                <br>
                <p class="pwhite1"> *Cuéntanos tu experiencia siendo parte de la BiitFamily, comparte tu proceso y celebra tus logros.
                  <br>
                  <br>
                  *En Biit Fitness Studio nos encanta apoyarte y seguir motivandote día con día a no perder el enfoque.
                  <br>
                  <br>
                  *En familia se pueden compartir consejos o técnicas para realizar el programa de manera más eficiente y desde una perspectiva dferente.
                  <br>
                  <br>
                  *Comparte tu experiencia y resultados en nuestro apartado de galería, motiva a otros a alcanzar su meta.
                </p>
        </div>
        </div>
            <div class="row">
        <div class="col text-center" >
          <img src="https://i.ibb.co/N6kN0kt/Whats-App-Image-2022-11-05-at-11-22-37-AM.jpg" id="p-img"alt="progress">
             </div>
        </div>
        </div>
        <div class="row" id="btnGaleria">
        <div class="col text-center ">
                <a type="submit" id="botonSubir"  href="/galeria" class="btn btn-danger">Comparte tu historía</a>
            </div>
        </div>
      </div>

        
            
                
              

     



</div>



<!--redline-->
<div class="navbar-after">
  <a class="after"></aclass></a>
</div>
<!-- Footer de la página--> 
<%- include('./partials/_footer'); %>
<!-- Script Bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
crossorigin="anonymous"></script>
<!--Js de boostrap-->
<script src="/js/bootstrap.bundle.min.js"></script>
         


</body>
</html>

