<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Carrito de compras</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">  
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/carrito.css">
  <link rel="stylesheet" href="/global.css">
  </head>
  <body>
    <!--Header de la página (menú)-->
    <%- include('./partials/_header'); %>
  <!--Línea divisora-->
  <div>
    <div class="navbar-after">
      <a class="after"></aclass></a>
    </div>
  </div>
  <!--Imagen de bienvenida-->
  <div id="container-foto">
    <img id="inicio" src="https://i.ibb.co/6m28hsd/Whats-App-Image-2022-11-03-at-10-08-23-AM.jpg" alt="puercoespin" width="100%" height="50%">
   </div>
   <!--Titulo Quiénes somos-->
   <div class="container-tit">
    <marquee behavior="" direction="">
    <h1 class="titulo">CARRITO DE COMPRAS</h1>
    </marquee>
   </div>


    <div class="container">
      <h1>Tu selección</h1>
    
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Item</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Acción</th>
            <th scope="col">Total</th>
          </tr>
        </thead>
        <tbody id="items"></tbody>
        <tfoot>
          <tr id="footer">
            <th scope="row" colspan="5">Carrito vacío, comienza tu experiencia de compra.</th>
          </tr>
        </tfoot>
      </table>
      <div class="container-tit">
        <h1 class="titulo">PRODUCTOS</h1></marquee>
       </div>
      <div class="row" id="cards"></div>
    </div>

    <template id="template-footer">
        <th scope="row" colspan="2">Total productos</th>
        <td>10</td>
        <td>
            <button class="btn btn-danger btn-sm" id="vaciar-carrito">
                vaciar todo
            </button>
        </td>
        <td class="font-weight-bold">$ <span>5000</span></td>
    </template>
    
    <template id="template-carrito">
      <tr>
        <th scope="row">id</th>
        <td>Café</td>
        <td>1</td>
        <td>
            <button class="btn btn-info btn-sm">
                +
            </button>
            <button class="btn btn-danger btn-sm">
                -
            </button>
        </td>
        <td>$ <span>500</span></td>
      </tr>
    </template>

    <template id="template-card">
      <div class="col-12 mb-2 col-md-4">
        <div class="card">
            <img src="" alt="" class="card-img-top">
          <div class="card-body">
            <h5>Titulo</h5>
            <p>precio</p>
            <button class="btn btn-dark">Comprar</button>
          </div>
        </div>
      </div>
    </template>

    <!--Footer-->
  <%- include('./partials/_footer'); %>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>
  <!--Js de boostrap-->
  <script src="/js/bootstrap.bundle.min.js"></script>

    <script src="/carrito.js"></script>
  </body>
</html>