@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap')

* {
    background-color: black;
    box-sizing: border-box;
    color: inherit;
    font-family: "Teko", sans-serif;
   
  }

body{
  
    font-family: "Teko", sans-serif;
    background-color: black;
  }
  html{
    font-size: 20px;
    @media screen and (max-width 600px){
      font-size: 12px;
      
    }
  }
  
  #logo{
    margin-left: 35px;
  }
  
  .after:after {
    content: " ";
    display: block;
    height: 9px;
    background: #ff1313;
    width: 100%;
    left: 100%;
    top: calc(50% - 2px);
  }
  
   #img {
    margin-inline-start: 80px;
   
   }
  
  #menu{
  display: flex;
  justify-content:flex-end;
  }
  
  .navbar-dark{
    background: #231e1e;
  }
  
  
  .nav-link:hover{
    background: red; 
    box-shadow: 0 0 10px red, 0 0 40px red, 0 0 80px red;
  }
.redLine{
    content: " ";
    display: block;
    height: 15px;
    background: #ff1313;
    width: 100%;
    left: 100%;
    top: calc(50% - 2px);
    opacity:unset;
    margin:0%;
}
.sheSwimm{
    width: 100%;
    height: 216px;
    background-image: url("https://i.ibb.co/xSrGLJy/sheSwimm.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    object-fit: cover;
}
.squareRed {
  
  width: 100%;
    height: 156px;
    display: flex;
    background-color:#cd3232;
    align-items:center;
   
}
h1{
  font-family: "Teko", sans-serif;
    font-weight: 400;
    font-size: 3rem;
    line-height: 87px;
    text-align: center center;
    -webkit-text-stroke: 2px black;
    color: #FFFFFF;  
}

#principalcont{
padding:10px;

}

h2{
  font-family: "Teko", sans-serif;
font-weight: 700;
font-size: 40px;
line-height: 49px;
text-align: center;

color: #FFFFFF;
}
p{
  font-family: "Teko", sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 44px;
    text-align: center;
    padding: 20px;
    color: #FFFFFF;  
}
main {
    background-color: black;
  }
  
  .titulo{
    color: white;
    font-size: 3rem;
    font-family: "Teko", sans-serif;
  }
    
#principalcont{
  
  background-image: url("https://i.ibb.co/gR09xqT/Whats-App-Image-2022-10-13-at-1-57-07-PM.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  object-fit: cover;

}
#imagenfinal{
  margin-top:150px;
}

.container-tit{
    text-align: center;
    background-color: #e42313;
    width: 100%;
    padding: 20px;
    min-height: 50px;
    margin-top:auto;
  }
#divBoton{
  padding: 20px;
}
#formularioPie{
  color: white;
  font-size: 1rem;
  font-family: "Teko", sans-serif;
  margin:1rem;
}
#redes {
    background-color: black;
  }
  
#imgfinal{
  background-image: url("https://i.ibb.co/X4672pd/Whats-App-Image-2022-10-13-at-1-57-08-PM-9.jpg");
background-repeat: no-repeat;
background-size: cover;
background-position: center center;
object-fit: cover;
}
  
      .btn:hover{
        background: red; 
        box-shadow: 0 0 10px red, 0 0 40px red, 0 0 80px red;
      }


  