.{
  background-color: #231e1e;
}

.container-foto{
    width: 100%;
    height: 50%;
    object-fit: cover;
  }
  
  #cuadro{
    text-align: center;
    background-color: #e42313;
    width: 100%;
    padding: 20px;
    min-height: 60px;
    margin-top:auto;
  }
  
  .titulo{
    color: white;
    font-size: 3.5rem;
    font-family: "Teko", sans-serif;
    min-width: 250;
  }
  
  .container-txt1{
    text-align: center;
    background-color: #231e1e;
    width: 100%;
    padding: 20px;
    min-height: 50px;
    margin-top:auto
  
  }
  
  .text1{
    color: white;
    font-size: 2rem;
    font-family: 'Teko', sans-serif;
    line-height: 1.5s;
    margin-top: 30px;
    flex-wrap: wrap;
    min-width: 250px;
  }
  
  #col-img1{
    margin-top: 30px;
    object-fit: cover;
    width: 50%;
    max-width: 100%;
  }
  
  #col-txt1{
    margin-top: 100px;
    max-width: 100%;
    object-fit: cover;
  
  }
  
  #col-txt1 h1{
    font-family: 'Teko', sans-serif;
    color: #e42313;
    font-size: 3rem;
    text-decoration: underline;
  }
  
  #col-txt1 p{
    margin-top: 10px;
    font-family: 'Teko', sans-serif;
    color:black;
    font-size: 1.5rem;
  }
  
  #col-txt1 h4{
    margin-top: 10px;
    font-family: 'Teko', sans-serif;
    color:#e42313;
    font-size: 1.5rem;
  }
  
  
  #col-img2{
    text-align: center;
    object-fit: cover;
    margin-top: 100px;
    width: 100%;
    max-width: 100%;
  }
  
  #col-txt2{
    margin-top: 100px;
    max-width: 100%;
    object-fit: cover;
  }
  
  #col-txt2 h1{
    font-family: 'Teko', sans-serif;
    color: #e42313;
    font-size: 3rem;
    text-decoration: underline;
  }
  
  #col-txt2 p{
    margin-top: 30px;
    font-family: 'Teko', sans-serif;
    color:black;
    font-size: 1.5rem;
  }
  
  #btn-cont{
    margin-left: 25%;
    margin-right: 50%;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: 'Teko', sans-serif;
    font-size: 2rem;
    background-color:#e42313;  
    border-bottom: #e42313;
    width: 50%;
  
  }
  
  #btn-2:hover {
    background:#e42313; 
    box-shadow: 0 0 10px #e42313, 0 0 40px #e42313, 0 0 80px #e42313;
  }
  
  
  .navbar-after {
    content: " ";
    display: block;
    height: 9px;
    background: #ff1313;
    width: 100%;
    left: 100%;
    top: calc(50% - 2px);
  }
  
  
    #redes {
      background-color: black;
    }
  
  
    .btn:hover {
      background: red; 
      box-shadow: 0 0 10px red, 0 0 40px red, 0 0 80px red;
    }
  
    .container-tit{
      text-align: center;
      background-color: #e42313;
      width: 100%;
      padding: 20px;
      min-height: 50px;
      margin-top:auto;
    }
    
    
    