

body {
  cursor: url(../assets/manc-removebg-preview.png), default;
  font-family: "Teko", sans-serif;
  background-image: url(https://i.ibb.co/NCmHzBs/imagen1.jpg);
  background-repeat: no-repear;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 0;
  margin: 0;
  font-family: "Teko", sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


#img {
  margin-inline-start: 80px;

}


#cuadrado {
  text-align: center;
  background-color: black;
  opacity: 0.91;
  height: 300px;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius:50px 50px 50px 50px;
}




#login2 {
  text-align: center;
  background-color: black;
  opacity: 0.87;
  height: 550px;
  display: flex;
  justify-content: center;
  border-radius:50px 50px 50px 50px;

}

.nombre-empresa {
  color: white;
}



#button {
  width: 15ch;
  height: 35px;
  font-size: 20px;
  text-align: center;
  border-radius: 8px;
  font-weight: bolder;
  background-color: #e42313;
  border-color: #000000;
  font-family: "Teko", sans-serif;

}


#label {
  color: white;
  font-family: "Teko", sans-serif;
}




.btn:hover {
  background: rgb(0, 0, 0);
  box-shadow: 0 0 10px red, 0 0 40px red, 0 0 80px red;
}


footer {
  margin-top: auto;
}

main {
  margin-top: auto;
}