

    #sec1{
        width: 100%;
        height: 200px;
        background-color: rgb(0, 0, 0);
        position: relative;
      }

      .rectangulo{
        text-align: center;
        background-color: #e42313;
        width: 100%;
        min-height: 50px;
        padding: 1px;
        position: relative;
        top: 5%;
        
      }
      .titulo {
        color: white;
        font-size: 3.5rem;
        font-family: "Teko", sans-serif;
        text-align: center;
        line-height: 90px;
        object-fit: cover;
      }
      
      .body2{
        background-color: rgb(0, 0, 0);
        font-family: "Teko", sans-serif;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 99%;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
      }
#formulario{
    color: white;
    font-size: xx-large;
    margin-top: 200px;
}
      
.error{
  color: #e42313;
}

#success{
  color: #e42313;
  font-size: 1.6rem;

}

form{
  max-width:100%; 
  background:  #000000d3;
  font-family: 'Teko', sans-serif;
  color: black;
  font-size:1.8rem;
  margin-top: auto;
}

main {
  margin-top: auto;
  background-image: url(https://i.ibb.co/NCmHzBs/imagen1.jpg);
}

.btn:hover {
  background: rgb(0, 0, 0);
  box-shadow: 0 0 10px red, 0 0 40px red, 0 0 80px red;
}

#boton{
  width: 200px;
  font-family: 'Teko', sans-serif;
  color: rgb(255, 255, 255);
  font-size:2rem;
}
label{
  color: white;
  font-size:2rem;
}