@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');

* {
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
  font-family: "Teko", sans-serif;
}

body {
  cursor: url(../assets/manc-removebg-preview.png), default;

  padding: 0;
  margin: 0;
  font-family: "Teko", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}

main {
  background-color: white;
  margin-top: auto;
}


html {
  font-size: 20px;
  @media screen and (max-width 900px) {
    font-size: 20px;
  }
}


#logo {
  margin-left: 35px;
}

.after:after {
  content: " ";
  display: flex;
  height: 9px;
  background: #e42313;
  width: 100%;
  left: 100%;
  top: calc(50% - 2px);
}

#navbarNavDropdown {
  justify-content: flex-end;
  font-size: 1.5rem;
  font-family: 'Teko', sans-serif;
}

.nav-link:hover {
  background: #e42313;
  box-shadow: 0 0 10px red, 0 0 40px red, 0 0 80px red;
}


#redes {
  background-color: black;
}


.btn:hover {
  background: rgb(0, 0, 0);
  box-shadow: 0 0 10px red, 0 0 40px red, 0 0 80px red;
}

footer {
  margin-top: auto;
}

#boton:hover {
  color: rgb(255, 255, 255);
  padding: 10px;
  font-size: 1.1rem;
  background: rgb(0, 0, 0);
  box-shadow: 0 0 10px red, 0 0 40px red, 0 0 80px red;
  display: flex;
  justify-content: center;
  align-items: center;
}


.form-control {
  background-color: rgb(198, 198, 198);
}


#warnings {
  width: 200px;
  text-align: center;
  margin: auto;
  color: #e42313;
  padding-top: 40px;
  font-size: 2rem;
}


#titulo {
  font-size: 3.5rem;
  color: black;
}