.banner-img {
    display: inline-block;
    width: 100%;
}
body{

    cursor: url(../assets/manc-removebg-preview.png), default;
}
.product-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    overflow: scroll;
}

.product-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: fit-content;
    max-height: fit-content;

    padding: 2em;

    font-family: "Teko";
}
.product-card img{
    max-width: 150px;
    max-height: 150px;
    border-radius:16px;
    }
    

.product-title,
.product-price {
    font-weight: bolder;
}

/* Small screens */
@media screen and (max-width: 600px) {
}
