@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap'); 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Teko", sans-serif;
}

body {
  cursor: url(../assets/manc-removebg-preview.png), default;
  padding: 0;
  margin: 0;
  font-family: "Teko", sans-serif;
  display: flex;
  flex-direction: column;

}

main {
  background-color: white;
  margin-top: auto;
}


html {
  font-size: 20px;
  @media screen and (max-width 900px) {
    font-size: 20px;

  }
}


#logo {
  margin-left: 35px;
}

.after:after {
  content: " ";
  display: block;
  height: 9px;
  background: #e42313;
  width: 100%;
  left: 100%;
  top: calc(50% - 2px);
}


#navbarNavDropdown {
  justify-content:flex-end;
  font-size: 1.5rem;
  font-family: 'Teko', sans-serif;
}


.nav-link:hover {
  background: #e42313;
  box-shadow: 0 0 10px red, 0 0 40px red, 0 0 80px red;
}


img {
  margin-top: auto;
}

main {
  background-color: black;
}

.titulo {
  color: white;
  font-size: 3rem;
  font-family: "Teko", sans-serif;
  text-align: center;
}


.container-tit {
  text-align: center;
  background-color:#e42313;
  width: 100%;
  padding: 10px;
  min-height: 45px;
  margin-top: auto;
}


#redes {
  background-color: black;
}



.btn:hover {
  background: rgb(0, 0, 0);
  box-shadow: 0 0 10px red, 0 0 40px red, 0 0 80px red;
  font-size: 1rem;
  text-align: center;
}



.imagen1 {
  background-image: url(https://i.ibb.co/NCmHzBs/imagen1.jpg);
  font-family: "Teko", sans-serif;
  background-repeat: no-repear;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.imagen2 {
  background-image: url(https://i.ibb.co/Q913sf1/ONLINE.png);
  font-family: "Teko", sans-serif;
  background-repeat: no-repear;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


#membresias {
  text-align: center;
  background-color: rgb(0, 0, 0);
  opacity: 0.88;
  height: 550px;
  width: 520;

}


#h2 {
  color: rgb(255, 255, 255);
  padding: 10px;
  font-size: 2.4rem;
  text-align: center;
}


#boton:hover {
  color: rgb(255, 255, 255);
  padding: 5px;
  font-size: 1.1rem;
  text-align: center;
  background: rgb(0, 0, 0);
  box-shadow: 0 0 10px red, 0 0 40px red, 0 0 80px red;
  justify-content: center;
  align-items: center;
}

#texto2 {
  color: rgb(255, 255, 255);
  padding: 1px;
  font-size: 1.7rem;
  text-align: center;
}

#texto3 {
  color: rgb(255, 255, 255);
  padding: 2px;
  font-size: 1.1rem;
  text-align: center;
}

#texto4 {
  color:#e42313;
  padding: 2px;
  font-size: 6rem;
  text-align: center;


}


#classpresencial {
  margin-top: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

}

#classonline {
  margin-top: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}


#boton3:hover {
  box-shadow: 0 0 10px red, 0 0 20px red, 0 0 40px red;
  background: rgb(0, 0, 0);
}

.titulo{
  color: white;
  font-size: 3.5rem;
  font-family: "Teko", sans-serif;
  min-width: 250;
}
